body {
  margin: 0px;
  background-color: #efefef;
}

#nav-container {
  width: 100vw;
  height: 60px;
  font-family: "Noto Sans TC", sans-serif;
  position: fixed;
  background-color: #efefef;
  z-index: 100;
}

#nav ul {
  display: inline-block;
  width: fit-content;
  padding: 0vw 5vw;
  position: relative;
  top: 10px;
  left: 120px;
}

#nav li {
  display: inline-block;
  vertical-align: middle;
}

#nav li a {
  color: black;
  text-decoration: none;
}

.numSoldCircle {
  background-color: cadetblue;
  width: 15px;
  height: 15px;
  font-size: 9px;
  color: #efefef;

  justify-content: center;
  border-radius: 25px;
  position: relative;
  top: 0px;
  right: -10px;
  display: none;
}

.numSold {
  flex: none;
  font-size: 9px;
  color: #efefef;
}

#nav li a:hover {
  font-weight: 700;
  border-bottom: 2px solid;
}

#nav li a:active {
  border-bottom: 2px solid;
}

.active-tab {
  border-bottom: 2px solid;
}

.cart-icon {
  position: absolute;
}

.mainPage img {
  width: 100vw;
  height: auto;
  object-fit: cover;
}
